@import 'src/styles/utils/extends.scss';

.button {
  @extend .reset-button;

  min-height: var(--button-size);
  min-width: var(--button-size);
  padding: 0 8px;
  color: var(--label-color-primary);
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    backdrop-filter: brightness(0.95);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &--wide {
    width: 100%;
  }

  &--icon {
    padding: 0;
  }
}

.button__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
