@import 'src/styles/utils/extends.scss';

.profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile__title {
  margin: 0;
}

.profile__log-out-button {
  @extend .reset-button;

  display: flex;
  cursor: pointer;
}
