@import 'src/styles/utils/extends.scss';

.profile-properties {
  display: grid;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.profile-properties__content {
  display: grid;
  grid-auto-flow: row;
  row-gap: 32px;
  padding: 16px;
}

.profile-properties__row {
}

.profile-properties__caption {
  padding: 0 16px;
  padding-bottom: 8px;
  color: var(--label-color-secondary);
}

.profile-properties__photo {
  position: relative;
  width: 100%;
  padding-top: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--background-secondary);
  border-bottom: 1px solid var(--background-separator);
  overflow: hidden;
  
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;    
    height: 100%;
    object-fit: cover;
    border: 1px solid var(--background-separator);
    border-radius: inherit;
    border-bottom: none;
  }

  .profile-properties__person-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 25%;
  }

  & + .bubble-group {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.profile-properties__photo-controls {
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  .button {
    padding: 0 8px;
  }
}

.profile-properties__button {
  @extend .text-ellipsis;

  width: 100%;
  outline: none;

  &--change-photo {
  }
  
  &--remove-photo {
    color: var(--system-red);
  }
  
  &--sign-out {
    color: var(--system-red);
    width: 100%;
  }
  
  &--cancel-chosen {
  }

  &--theme {
    padding: 0 16px;

    .headline {
      margin-right: auto;
    }

    .profile-properties__icon--checkmark {
      margin-right: 0 !important;
      color: var(--system-blue);
    }
  }

  .icon {
    min-width: var(--icon-size);
    margin-right: 8px;
  }
}


.profile-properties__fields {
}

.profile-properties__input {
  @extend .reset-input;

  width: 100%;
  height: var(--button-size);
  padding: 0 16px;
  font-size: var(--font-size-headline);
  color: var(--label-color-primary);
}

.profile-properties__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 0;
  margin-top: auto;
  padding-top: 48px;
}

