.drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  background-color: var(--background-secondary);

  [data-small-media="true"] & {
    overflow-y: scroll;
  }
  
  [data-small-media="false"] & {
    width: var(--drawer-width);
  }
}

.drawer__container {
  padding: 16px;
  height: 100%;
}

.drawer__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  & > * {
    margin-bottom: 16px;
  }
}

.drawer__filters {
  .collection__list {
    gap: 8px;
  }
}

.drawer__user-lists {
  flex: 1;
  padding-right: 16px;
  margin-right: -16px;
  
  [data-small-media="false"] & {
    overflow: hidden;

    .collection__title {
      border-bottom: 1px solid rgba(#000, 0.1);
    }
  }

  .collection__title {
    padding-left: 16px;
    padding-bottom: 8px;
  }

  .collection__list {
    margin-right: -16px;
    padding-right: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    
    & > :first-child {
      padding-top: 8px;
    }

    & > :last-child {
      padding-bottom: 8px;
    }
  }
}

.drawer__footer {
  display: flex;
  position: sticky;
  bottom: 0;
  margin-bottom: -16px;
  margin-top: -16px;
  background-color: var(--background-secondary);
  border-top: 1px solid rgba(#000, 0.1);
}

.drawer__create-list-button {
  margin-left: auto;

  .icon {
    margin-right: 10px;
  }
}
