@import '/src/styles/utils/mixins.scss';

.drawer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;

  [data-small-media="true"] & {
    min-height: 100%;
  }
  
  [data-small-media="false"] & {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: var(--drawer-width);
    border-right: 1px solid var(--background-separator);
  }
}

.drawer__header {
  [data-small-media="false"] & {
    border-bottom: 1px solid var(--background-separator);
  }
}

.drawer__filters {
  padding: 16px;
  padding-top: 8px;

  .collection__item {
    .nav-item {
      border-radius: 10px;
    }
  }
}

.drawer__body {
  flex: 1;

  [data-small-media="false"] & {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;
  }
}

.drawer__user-lists {
  padding: 16px;

  .title {
    padding: 16px;
    padding-top: 0;
    font-size: var(--font-size-title-3);
  }

  .collection__item {
    &:first-child .nav-item {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child .nav-item {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(32px + 12px + 12px);
      right: 0;
      height: 1px;
      background-color: var(--background-separator);

      [data-small-media="false"] & {
        left: calc(var(--icon-size) + 12px + 12px);
      }
    }
  }
}

.drawer__footer {
  display: flex;
  z-index: 1;
  background-color: var(--background-primary);
  border-top: 1px solid var(--background-separator);

  [data-small-media="true"] & {
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
  }
}

.drawer__create-list-button {
  @include styled-outline(inset);

  margin-left: auto;

  .icon {
    margin-right: 8px;
  }
}
