.drawer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  width: 100%;
  background-color: var(--background-primary);
  
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 1px;
    background-color: var(--background-separator);
  }

  [data-small-media="true"] & {
    overflow-y: scroll;
  }
  
  [data-small-media="false"] & {
    width: var(--drawer-width);
  }
}

.drawer__container {
  padding: 16px;
  height: 100%;
}

.drawer__body {
  display: flex;
  flex-direction: column;
  height: 100%;
  
  & > * {
    margin-bottom: 16px;
  }
}

.drawer__filters {
  .collection__list {
    [data-small-media="false"] & {
      gap: 8px;
    }
  }

  .nav-item {
    border-radius: 10px;
    padding-bottom: 6px;
  }
}

.drawer__user-lists {
  flex: 1;
  padding-right: 16px;
  margin-right: -16px;
  
  [data-small-media="false"] & {
    overflow: hidden;

    .collection__title {
      border-bottom: 1px solid var(--background-separator);
    }
  }

  .collection__title {
    padding-left: 16px;
    padding-bottom: 8px;
  }

  .collection__list {
    margin-right: -16px;
    padding-right: 16px;
    overflow-x: hidden;
    overflow-y: auto;
    
    & > :first-child {
      padding-top: 8px;
    }

    & > :last-child {
      padding-bottom: 8px;
    }
  }

  .collection__item {
    .nav-item__title {
      padding: 0 12px;
    }

    &:not(:last-child)::after {
      content: '';
      position: absolute;
      left: calc(var(--icon-size) + 24px);
      right: 0;
      bottom: 0;
      height: 1px;
      background-color: var(--background-separator);
    }

    &:first-child {
      .nav-item {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
    }
    
    &:last-child {
      .nav-item {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }
}

.drawer__footer {
  display: flex;
  position: sticky;
  bottom: 0;
  margin-bottom: -16px;
  margin-top: -16px;
  background-color: var(--background-primary);
  border-top: 1px solid var(--background-separator);
}

.drawer__create-list-button {
  margin-left: auto;

  .icon {
    margin-right: 10px;
  }
}
