.badge-radio {
  position: relative;
  display: flex;
}

.badge-radio__label {
  width: 100%;
  height: 100%;
  color: var(--background-secondary);
  border-radius: 50%;
  cursor: pointer;

  &:focus-within {
    box-shadow: 0 0 0 4px var(--background-primary), 0 0 0 8px var(--system-blue);
  }

  &--color {
    padding-top: 100%;
    background-color: currentColor;
  }
  
  &--checked {
    box-shadow: 0 0 0 4px var(--background-primary), 0 0 0 8px var(--label-color-primary);
  }

  .badge {
    .icon {
      width: 100%;
      height: 100%;
      color: var(--label-color-primary);
    }
  }
}

.badge-radio__input {}
