.bubble-group {
  background-color: var(--background-separator);
  box-shadow:
    inset 0 0 0 8px var(--background-secondary),
    inset 16px 0 0 var(--background-secondary),
    inset -16px 0 0 var(--background-secondary);

  border-radius: 10px;
  overflow: hidden;
}

.bubble-group__grid {
  display: flex;
  flex-direction: column;

  &--horizontal {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.bubble-group__item {
  position: relative;
  flex: 1;
  margin: 0.5px;
  background-color: var(--background-secondary);
}
