@import '~normalize.css';
@import './fonts/index.scss';
@import './root.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-body);
  font-family: Roboto, sans-serif;
  background-color: var(--app-bg);
}

.app {}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: var(--drawer-width);
  background-color: var(--drawer-bg);
}

.drawer__container {
  padding: 10px;
}

.drawer__body {
  display: grid;
  grid-auto-flow: row;
  row-gap: 10px;
}

.main-content {
  margin-left: var(--drawer-width);
}

.main-content__container {
  padding: 10px;
}
