@import '~normalize.css';
@import './fonts/index.scss';
@import './utils/system-color.scss';
@import './root.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-size: var(--font-size-body);
  font-family: Roboto, sans-serif;
  background-color: var(--app-bg);
}

.app {}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: var(--drawer-width);
  background-color: var(--drawer-bg);
}

.drawer__container {
  padding: 10px;
  height: 100%;
}

.drawer__body {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto auto 1fr;
  row-gap: 20px;
  height: 100%;
}

.drawer .user-lists {
  overflow: hidden;
}

.main-content {
  margin-left: var(--drawer-width);
}

.main-content__container {
  padding: 10px;
}
