@import '~normalize.css';
@import './fonts/index.scss';
@import './utils/system-color.scss';
@import './root.scss';

[data-js-focus-visible] :focus:not([data-focus-visible-added]) {
  outline: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

html {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: var(--background-primary);
}

body {
  font-size: var(--font-size-body);
  font-family: Roboto, sans-serif;
  color: var(--label-color-primary);
}
