:root {
  --drawer-width: 300px;
  --button-size: 28px;
  --icon-size: 24px;
  --container-max-width: 1200px;

  --background-primary: #ffffff;
  --background-secondary: #f2f2f7;
  --background-tertiary: #f4f4f5;

  --font-size-title-1: 24px;
  --font-size-title-2: 20px;
  --font-size-title-3: 17px;
  --font-size-headline: 17px;
  --font-size-body: 15px;
  --font-size-caption-1: 13px;
  --font-size-caption-2: 12px;
  --font-size-caption-3: 11px;
  
  --line-height-title-1: 34px;
  --line-height-title-2: 28px;
  --line-height-title-3: 24px;
  --line-height-headline: 22px;
  --line-height-body: 20px;
  --line-height-caption-1: 18px;
  --line-height-caption-2: 16px;
  --line-height-caption-3: 14px;

  --label-color-primary: #272727;
  --label-color-secondary: #808080;
  --label-color-tertiary: #ADADAD;
  --label-color-quarterly: #BDBDBD;
}

:root {
  --system-red: #ff3b30;
  --system-orange: #ff9500;
  --system-yellow: #ffcc00;
  --system-green: #34c759;
  --system-teal: #5ac8fA;
  --system-blue: #007aff;
  --system-indigo: #5856d6;
  --system-coral: #eb426a;
  --system-purple: #af52de;
  --system-brown: #9d8563;
  --system-gray: #5b6770;
  --system-pink: #d9a69f;
}
