@import 'src/styles/utils/extends.scss';

.list-properties {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.list-properties__form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list-properties__body {
  display: grid;
  grid-auto-flow: row;
  row-gap: 16px;
  justify-items: center;
  padding: 16px;
  border-bottom: 1px solid rgba(#000, 0.1);

  .badge {
    width: 96px;
  }

  .list-properties__error-message {
    margin-top: 16px;
  }
}

.list-properties__input {
  @extend .reset-button;

  width: 100%;
  height: var(--button-size);
  text-align: center;
  padding: 0 10px;

  font-size: var(--font-size-title-2);
  font-weight: bold;
  background-color: var(--background-secondary);
  border-radius: 10px;
  outline: none;
}

.list-properties__error-message {
  color: var(--system-red);
}

.list-properties__footer {
  padding: 16px;
  overflow-x: hidden;
  overflow-y: auto;

  .collection {
    &:first-child {
      padding-bottom: 32px;
      margin-bottom: 32px;
      border-bottom: 1px solid rgba(#000, 0.1);
    }
  }
}

.list-properties__grid-list {
  @extend .reset-list;

  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.list-properties__grid-list-item {}
