.filters-item {}

.filters-item__link {
  display: block;
  padding: 8px;

  color: var(--label-color-secondary);
  text-decoration: none;
  background-color: #d2d2d2;
  border-radius: 10px;

  &--today {
    color: var(--system-blue);
  }
  
  &--planned {
    color: var(--system-red);
  }

  &--all {
    color: var(--system-gray);
  }

  &--flagged {
    color: var(--system-orange);
  }

  &--active {
    .filters-item__icon,
    .filters-item__title,
    .filters-item__count {
      color: #fff;
    }

    background-color: currentColor;
  }
}

.filters-item__body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.filters-item__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-color: currentColor;
  border-radius: 50%;
}

.filters-item__title {
  margin: 0;
  margin-top: 10px;
  color: var(--label-color-secondary);
  font-size: var(--font-size-caption);
}

.filters-item__count {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  color: var(--label-color-secondary);
  font-weight: bold;

  font-size: var(--font-size-4);
}
