@import 'src/styles/utils/extends.scss';

.auth-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auth-input__label-text {
  min-width: 70px;
  margin-right: 10px;
}

.auth-input__input {
  @extend .reset-input;

  flex: 1;
  height: var(--button-size);
  padding: 0 10px;
  outline: none;
  text-align: center;
  background-color: var(--background-secondary);
  border: 1px solid transparent;

  .auth-input:first-of-type & {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .auth-input:last-of-type & {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .auth-input:not(:last-of-type) & {
    border-bottom: 1px solid rgba(#000, 0.1);
  }

  .auth-input--error & {
    border-color: var(--system-red) !important;
  }

  .auth-input--error + .auth-input--error & {
    border-top: transparent;
  }
}
