.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.reset-input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
