.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-button {
  padding: 0;
  background-color: transparent;
  border: none;
}

.reset-input {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}
