.modal {
}

.modal__layout {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  background-color: rgba(#000, 0.1);
  backdrop-filter: blur(24px);
}

.modal__box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 400px;
  max-height: calc(100% - 80px);

  background-color: var(--background-primary);
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(#000, 0.1), 0 16px 48px rgba(#000, 0.1);
  overflow: hidden;
}
