@import 'src/styles/utils/extends.scss';

.modal-wrapper {  
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  backdrop-filter: blur(16px);
}

.modal {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);

  [data-small-media="true"] & {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  [data-small-media="false"] & {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    max-height: 800px;
    border: 1px solid var(--background-separator);
    border-radius: 10px;
    box-shadow: 0 8px 32px rgba(#000, 0.1);
  }
}
