@import 'src/styles/utils/extends.scss';

.auth-page {
  height: 100%;
}

.auth-page__container {
  height: 100%;
  margin: 0 auto;
  padding: 40px;
  max-width: var(--container-max-width);
}

.auth-page__body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.auth-modal {
  width: 100%;
  max-width: 520px;

  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(#000, 0.2), 0 16px 48px rgba(#000, 0.2);
}

.auth-page__form {
}

.auth-page__form-header {
  padding: 16px;
  text-align: center;
}

.auth-page__form-body {
  display: grid;
  grid-auto-flow: row;
  row-gap: 16px;
  padding: 16px;
}

.auth-page__form-fields {
}

.auth-page__input {
  @extend .reset-input;

  height: var(--button-size);
  width: 100%;
  padding: 0 16px;
  border-radius: inherit;

  &--error {
    color: var(--system-red);
    
    &::placeholder {
      color: var(--system-red);
      opacity: 0.5;
    }
  }
}

.auth-page__form-errors {
}

.auth-page__errors-list {
  @extend .reset-list;
}

.auth-page__errors-item {
  display: flex;
  align-items: center;
  color: var(--system-red);

  &::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 16px;
    border-radius: 50%;
    background-color: currentColor;
  }
}

.auth-page__controls {
  margin-top: 20px;
}

.auth-page__submit-button {
  color: #fff;
  background-color: var(--system-blue);
  border-radius: 10px;
  height: var(--button-size);
  cursor: pointer;
}

.auth-page__form-footer {
  display: flex;
  padding: 16px;
  padding-top: 0;
}

.auth-page__screen-link {
  display: block;
  margin: 0 auto;
  color: var(--system-blue);
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}
