@import 'src/styles/utils/extends.scss';

$padding: 30px;

.search {
  position: relative;
}

.search__icon {
  width: $padding;
  height: $padding;

  &--search {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.search__label {
  width: 100%;
}

.search__input {
  @extend .reset-input;

  width: 100%;
  height: 28px;
  padding: 0 $padding;

  color: var(--label-color-primary);
  font-size: var(--font-size-body);
  background-color: #E3E3E9;
  border-radius: 10px;

  &::placeholder {
    color: var(--label-color-tertiary)
  }
}

.search__clear-button {
  position: absolute;
  right: 2px;
  top: 50%;
  min-width: 30px;
  min-height: 30px;
  transform: translateY(-50%);
  border-radius: 50%;
}
