@import 'src/styles/utils/extends.scss';

$icon-width: calc(var(--button-size) + 6px);

.search {
  position: relative;
}

.search__icon {
  width: $icon-width;
  height: var(--button-size);

  &--search {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
}

.search__label {
  width: 100%;
}

.search__input {
  @extend .reset-input;

  width: 100%;
  height: 28px;
  padding: 0 $icon-width;

  color: var(--label-color-secondary);
  font-size: var(--font-size-body);
  background-color: #dcdcdc;
  border-radius: 6px;

  &::placeholder {
    color: var(--label-color-tertiary)
  }
}

.search__clear-button {
  @extend .reset-button;

  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;

  width: $icon-width;
  height: var(--button-size);
  border-radius: 50%;
  cursor: pointer;
}
