@import '/src/styles/utils/extends.scss';

.user-item {}

.user-item__link {
  display: block;
  padding: 6px 10px;
  font-size: var(--font-size-body);
  text-decoration: none;
  border-radius: 4px;

  &--active {
    background-color: currentColor;

    .user-item__title,
    .user-item__count {
      color: #fff;
    }

    .user-item__icon-wrapper {
      background-color: #fff;
    }

    .user-item__icon {
      color: currentColor;
    }
  }
}

.user-item__body {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  column-gap: 10px;
  align-items: center;
}

.user-item__icon-wrapper {
  background-color: currentColor;
  border-radius: 50%;
}

.user-item__icon {
  display: block;
  width: var(--button-size);
  height: var(--button-size);
  color: #fff;
}

.user-item__title {
  @extend .text-ellipsis;

  margin: 0;
  color: var(--label-color-secondary);
}

.user-item__count { 
  margin: 0;
  color: var(--label-color-tertiary);
}
