@import 'src/styles/utils/extends.scss';

.user-lists {
  margin-right: -10px;
  padding-right: 10px;
}

.user-lists__body {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: auto 1fr auto;
  row-gap: 10px;
  height: 100%;
}

.user-lists__title {
  margin: 0;
  margin-left: 10px;
  color: var(--label-color-tertiary);
  font-size: var(--font-size-caption);
  font-weight: normal
}

.user-lists__list {
  @extend .reset-list;

  padding-right: 10px;
  margin-right: -10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.user-lists__item {}

.user-list__new-list-button {
  @extend .reset-button;

  display: flex;
  align-items: center;
  padding: 6px 10px;

  color: var(--label-color-secondary);
  font-size: var(--font-size-body);
  text-align: left;
  cursor: pointer;
}

.user-list__new-list-icon {
  display: block;
  width: var(--button-size);
  height: var(--button-size);
  margin-right: 10px;
}
