@import '/src/styles/utils/extends.scss';
@import '/src/styles/utils/mixins.scss';

.nav-item {
  @include styled-outline;

  position: relative;
  align-items: center;
  font-size: var(--font-size-body);
  text-decoration: none;
  background-color: var(--background-secondary);
  outline: none;

  &:focus {
    z-index: 1;
  }  

  [data-small-media="true"] & {
    .badge {
      width: 32px;
      height: 32px;
    }
  }
  
  &--filter {
    display: grid;
    row-gap: 10px;
    padding: 6px 12px;
    padding-bottom: 10px;
    grid-auto-flow: row;
    grid-template-columns: auto;
    padding-top: 10px;

    .nav-item__count {
      position: absolute;
      right: 12px;
      top: 14px;
      font-size: 28px;
      font-weight: bold;
      color: var(--label-color-primary);
    }
  }

  &--list {
    display: flex;
    height: 52px;
    padding-left: 12px;
    padding-right: 8px;
    
    .nav-item__title {
      flex: 1;
    }
    
    .nav-item__chevron {
      color: var(--label-color-secondary);
    }
    
    [data-small-media="false"] & {
      height: var(--button-size);
      padding-right: 4px;
    }

    .badge {
      margin-right: 12px;
    }
  }

  &--active {
    background-color: currentColor;

    .text {
      color: #fff;
    }

    .badge {
      background-color: #fff;

      .icon {
        color: currentColor;
      }
    }

    .nav-item__chevron {
      color: #fff;
    }
  }
  
  .badge {
    width: var(--icon-size);
  }
}

.nav-item__badge {
}

.nav-item__title {
  @extend .text-ellipsis;

  color: var(--label-color-primary);
}

.nav-item__count { 
  color: var(--label-color-secondary);
}
